<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="name">Your Name</label>
        <input type="text" name="name">
        <label for="location">Your Location</label>
        <select name="location">
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="Boston">Boston</option>
            <option value="New York">New York</option>
        </select>
        <label for="lang">Favorite Langauge</label>
        <select name="lang">
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="C#">C#</option>
            <option value="JavaScript">JavaScript</option>
        </select>
        <label for="comment">Comment (Optional):</label>
        <input type="textarea" name="comment">
        <button type="submit">Button</button>
    </form>
</body>
</html>